.messages-container-inner .messages-inbox {
  /*max-width: none;*/
}

.reservation-detail-wrapper {
  padding: 30px;
}

.profile-picture {
  width: 125px;
  height: 125px;
  max-width: 100%;
  margin: 0 auto;
}

.info-item-text {
  margin-top: 5px;
  text-align: center;
}

.info-item-text p {
  font-size: 13px;
}

.reservation-trip-details-item-title {
  font-weight: bold;
  margin-bottom: 0 !important;
}


@media (max-width: 991px) {

}

@media (min-width: 769px) {
  .messages-container-inner {
    display: block;
  }
  .messages-container-inner .message-content {
    position: fixed;
    bottom: 0;
    width: 380px;
    padding: 0;
    right: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  .messages-container-inner .message-content .list-message {
    overflow-y: scroll;
    padding: 30px 16px 0px 16px;
    height: 400px;
    background: white;
  }
  .message-bubble .message-avatar img {
    width: 35px;
    height: 35px;
  }
  .message-bubble.me .message-text {
    margin-right: 50px;
    float: right;
  }
  .message-bubble .message-text {
    padding: 10px 20px 20px 20px;
    float: left;
    margin-left: 50px;
    min-width: 190px;
  }
  .message-bubble {
    overflow: auto;
  }
  .message-bubble.me .message-text p {
    text-align: right;
  }
  .message-bubble .message-text p.time {
    font-size: 0.5em;
    position: absolute;
    bottom: 0px;
    right: 20px;
    opacity: 0.5;
  }
  .header-message-content {
    background-color: #66676b;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding: 8px 20px;
  }
  .header-message-content i {
    float: right;
    padding: 5px;
  }
  .header-message-content i:hover {
    cursor: pointer;
  }
  .message-reply {
    display: flex;
    padding: 0px 20px;
    margin-top: 0px;
    background: white;
  }
  .message-reply input {
    
  }
  .message-reply button {
    height: 51px;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 0;
  }
}

@media (max-width: 768px) {

}
