.messages-container-inner .messages-inbox {
  max-width: none;
}

.reservation-detail-wrapper {
  padding: 30px;
}

.profile-picture {
  width: 125px;
  height: 125px;
  max-width: 100%;
  margin: 0 auto;
}

.info-item-text {
  margin-top: 5px;
  text-align: center;
}

.info-item-text p {
  font-size: 13px;
}

.reservation-trip-details-item-title {
  font-weight: bold;
  margin-bottom: 0 !important;
}

