body .auth0-lock.auth0-lock .auth0-lock-name {
  display: none;
}

body .auth0-lock.auth0-lock .auth0-lock-header {
  color: white;
}

body .auth0-lock.auth0-lock .auth0-lock-header-bg {
  background: #aaa;
}

@media (min-width: 481px) {
  body .auth0-lock.auth0-lock .auth0-lock-header-bg {
    background: #aaa;
  }
}

body .auth0-lock.auth0-lock .auth0-lock-header-logo {
  height: 100px;
}

body .auth0-lock.auth0-lock {
  font-family: inherit;
}

body .auth0-lock.auth0-lock .auth0-lock-cred-pane,
body .auth0-lock.auth0-lock .auth0-lock-header,
body .auth0-lock.auth0-lock .auth0-lock-submit {
  border-radius: 2px;
}

body
  .auth0-lock.auth0-lock
  .auth0-lock-social-button.auth0-lock-social-big-button
  .auth0-lock-social-button-text {
  font-size: 12px;
  text-align: center;
}

body .auth0-lock.auth0-lock .auth0-lock-tabs-container {
  margin-bottom: 30px;
}

body .auth0-lock.auth0-lock .auth0-lock-tabs li a {
  text-transform: uppercase;
}

body .auth0-lock.auth0-lock .auth0-lock-widget {
  width: 480px;
  transform-origin: top;
}
